<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true" cacheDirectory=".phpunit.cache">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="CASDOOR_BASE_URL" value="http://127.0.0.1:8000" force="true" />
        <env name="AUTH_ORGANIZATION_NAME" value="built-in" force="true" />
        <env name="AUTH_CLIENT_ID" value="005a0daec3c9bb9570c6" force="true" />
        <env name="AUTH_CLIENT_SECRET" value="e0f5673ed2008d8e03c7eaaa0da7ab203dda65ee" force="true" />
    </php>

</phpunit>
