<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true" cacheDirectory=".phpunit.cache">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="CASDOOR_BASE_URL" value="http://127.0.0.1:8000" force="true" />
        <env name="AUTH_ORGANIZATION_NAME" value="built-in" force="true" />
        <env name="AUTH_CLIENT_ID" value="85dbbd5ad3bf2209db14" force="true" />
        <env name="AUTH_CLIENT_SECRET" value="3338adece8580fb5993da89ae70d1487c2226828" force="true" />
    </php>

</phpunit>
