<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true" cacheDirectory=".phpunit.cache">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
       <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="CASDOOR_BASE_URL" value="http://127.0.0.1:8000" force="true" />
        <env name="AUTH_ORGANIZATION_NAME" value="Gathern_t6og97" force="true" />
        <env name="AUTH_CLIENT_ID" value="83b5fa28fca00ce7a170" force="true" />
        <env name="AUTH_CLIENT_SECRET" value="11e649eaa2f84e5fbf54cdc1c0dd58f585724a0f" force="true" />
    </php>

</phpunit>
